# Ignore data, results, and local environments
data/
results/
myenv/
.env/
venv/
drafts/

# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# OS-specific or editor files
.DS_Store
.vscode/
.idea/

# Logs and temporary files
*.log
*.tmp
notebooks/Project Scienta lab Tristan Montalbetti.ipynb
scripts/Extraction_formatting_single_BED_CTCF.sh
scripts/QC_processing_20251113.sh
